* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
em, i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #e33333;
}
h4 {
  font-weight: 400;
}